@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
}


.nav-top{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.nav-top p{
justify-content:flex-start;
padding: 10px;
align-self: center;
}

.nav-top ul{
display: flex;
flex-direction: row;
justify-content:space-around;
}

.nav-top ul li{
 padding: 10px;
 list-style: none;
}

.nav-top a{
    color: white;
    text-decoration: none;
}

.nav-list{
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    
}

.iconmenu{
 width: 20px;
}

.nav-list li{
    list-style: none;
    align-self: center;
}
.nav-list a{
    text-decoration: none;
    color:#fff
}

.home{
    width: 100%;
    height: 500px;
    
}
.home img{
    width: 100%;
    height: 500px;
}
.home div{
    position: absolute;
    width: 100%;
    height: 409px;
    left: calc(50% - 1025px/2 + 0.5px);
    top: 81px;
}

.home h2{
    position: absolute;
    width: 365px;
    height: 54px;
    left: 648px;
    top: 237px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 5px;
    color: #3C2313;
    
}
.home h4{
    position: absolute;
    width: 190px;
    height: 19px;
    left: 740px;
    top: 303px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.home button{
position: absolute;
width: 141px;
height: 49px;
left: 767px;
top: 334px;
background: #F0A83E;
border-radius: 5px;
}

.productoshome{
   width: 100%;
    height: 600px;
   justify-content: center;
}
.productoshome img{
height: 200px;
position: relative;
top: 12.66%;
left: 45%;
bottom: 35.94%;
}
.productoshome h1{
position: relative;
left: 32%;
top: 20%;
width: 706px;
height: 40px;
font-weight: bold;
font-size: 60px;
line-height: 47px;
color: #3C2313;
}
.productoshome ul{
width: 78px;
height: 18px;
font-size: 25px;
line-height: 20px;
color: #666666;
position: relative;
top: 30%;
left: 48%;
list-style: none;
display: flex;
flex-direction: row;
justify-content: center;
}

.productoshome li{
    margin: 10px;
}
.items{
    width: 100%;
    height: 400px;
display:flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
}

.item{
    margin: 5px;
    background-color: #FBFAF6;
    align-content: center;
}
.item h4{
    color: #3C2313;
    position: relative;
    left: 20%;
    font-size: 15px;
}
.item p{
    color: #F0A83E;
    position: relative;
    left: 35%;
    font-size: 15px;
    font-weight: bold;
}

.contactanos{
    width: 100%;
    height: 600px;
   justify-content: center;
}



.contactanos h2{
    position: relative;
left: 35%;
top: 20%;
width: 706px;
height: 40px;
font-weight: bold;
font-size: 60px;
line-height: 47px;
color: #3C2313;
}
.contactanos p{
    width: 340px;
height: 40px;
    background: #3C2313;
border-radius: 15px;
color: #fff;
font-size: 12px;
line-height: 15px;
text-align: left;
margin-bottom: 5px;
padding: 5px;
position: relative;
left: 35%;
top: 30%;
}
.reset{
    position: relative;
width: 120px;
height: 34px;
left: 38%;
top: 34%;
background: #8A8787;
color: #fff;
border-radius: 15px;
border-color: #8A8787;
}
.enviar{
    position: relative;
    width: 120px;
    height: 34px;
    left: 38%;
    top: 34%;
    background: #F0A83E;
    color: #fff;
    border-radius: 15px;
    border-color: #F0A83E;
}

.suscribir{
    width: 100%;
height: 50px;
display: flex;
flex-direction: row;
background-color: #F0A83E;
justify-content: space-around;
}

.suscribir img{
    height: 30px;
align-self: center;
}
.suscribir h2{
    position: relative;
    left: -5%;
    top: 5%;
    width: 706px;
    height: 40px;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    align-self: center;
}

.suscribir p{
    width: 340px;
height: 20px;
    background: #fff;
border-radius: 15px;
color: #A0A0A0;
font-size: 12px;
line-height: 15px;
text-align: left;
padding: 5px;
position: relative;
left: 3%;
top: 20%;
}

.contacto{
    width: 100%;
    height: 400px;
    background-color: #3C2313;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.itemcontacto{
    margin: 25px;
}

.itemcontacto img{
    background-color:#8A8787;
    height: 50px;
    border: #786960;
    border-radius: 20px;
}
.infocontacto{
    position: relative;
    bottom: 30%;
    left: 8%;
}

.itemcontacto h4{
    font-size: 20px;
    font-weight: bold;
}
.itemcontacto p{
    color:#8A8787
}

.logocontacto{
    width: 200px;
    position: relative;
   left: 60%;
  bottom: 60%;
}
footer{
    width: 100%;
    background-color: #222222;
    color:#fff;
    text-align: center;
}